<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MqttHost" value="test.mosquitto.org" />
    <add key="MqttUser" value="" />
    <add key="MqttPass" value="" />
    <add key="DataTopic" value="AWS/data" />
    <add key="ControlTopic" value="AWS/control" />
  </appSettings>
</configuration>