<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CloseTimer" value="60000"/>
		<add key="SyncTimer" value="00:05:00"/>
		<add key="PrinterName" value="WP-80C"/>
		<add key="PrinterPort" value="COM9"/>
		<add key="XbeePort" value="COM3"/>
		<add key="ComPort" value="COM4"/>
		<add key="SqlConn" value="Database=WaterPositivedb; Data Source=localhost; User Id=root; Password=123qweasd"/>
		<add key="SqlCloud" value="Database=WaterPositivedb; Data Source=103.187.146.194; User Id=wadmin; Password=I2JAsRq5u4N3"/>
	</appSettings>
</configuration>