<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ComPort" value="COM9"/>
		<!--<add key="ComPort" value="COM8"/>-->
		<add key="SqlConn" value="Database=WaterPositivedb; Data Source=localhost; User Id=root; Password=123qweasd"/>
		<add key="SqlCloud" value="Database=WaterPositivedb; Data Source=103.187.146.194; User Id=wadmin; Password=I2JAsRq5u4N3"/>
	</appSettings>
</configuration>